.book_content_a {
  width: 250px;
  min-height: 100vh;
  background-color: white;
  padding-top: 20px;
  outline: none;
}
.book_content_a li {
  color: black;
}

.book_body {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://media.metrip.vn/images/cidre-3-2048-1459002815059-234-0-1136-2048-crop-1459002866249.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  width: 200vh;
  min-height: 80vh;
  color: black;
}

.class_table_order {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.book_content_user {
  width: 128vh;
  min-height: 80vh;
  background-color: #2c3e50;
  padding: 20px;
  margin: 0 auto;
  color: black;
}

.example_user {
  width: 1000px;
  height: 570px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example_user::-webkit-scrollbar {
  display: none;
}

.book_class_text_padding {
  padding-top: 15px;
}
.book_class_icon_padding {
  padding-right: 15px;
}

.book_layout_header_main {
  height: 30px;
  background-image: linear-gradient(while, black);
  font-weight: bold;
  color: #000;
  min-height: 30px;
  text-align: center;
}

th,
td {
  text-align: center;
}
.tr {
  margin: 15px;
}

/* class product */
.class_pro {
  width: 100%;
  display: flex;
}
.display_flex {
  display: flex;
  width: 150px;
  text-align: center;
}
.class_pro_post {
  /* width: 1200px; */
  color: white;
  margin: 20px;
  /* width: 20%; */
}

.class_pro_radio {
  text-align: center;
  padding-top: 15px;
  width: 100%;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.16);
  justify-content: center;
  -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
}

.class_pro_content {
  width: 1000px;
  min-height: 100vh;
  background-color: #2c3e50;
  padding: 20px;
}

.example {
  background-color: #eee;
  width: 1000px;
  height: 570px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

.ex {
  /* background-color: lightblue; */
  width: 200px;
  height: 100px;
  overflow: auto;
}

/* form add and edit */
.main-w3layouts-agileinfo {
  width: 32%;
  height: 25%;
  /* margin: 0 auto; */
  margin: 20px;
  padding: 4em 2em;
  background: rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: 0 rgb(37, 37, 37);
  -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
}

.wthree-form h2 {
  color: blue;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: 3px;
  text-shadow: 3px 3px 4px #000;
}

.form-sub-w3 {
  position: relative;
  margin-bottom: 20px;
}
.form-sub-w3 input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 15px 66px 15px 19px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.16);
  border: 0;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: black;
  outline: 0;
  -webkit-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
}

.submit-agileits input[type="submit"] {
  width: 100%;
  margin: auto;
  text-align: center;
  color: black;
  font-size: 17px;
  font-weight: 600;
  padding: 14px 90px;
  background-color: rgba(0, 0, 0, 0.2);

  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

/* home */
.home_color {
  color: black;
}

div.scroll {
  width: 100%;
  height: 75vh;
  overflow: auto;
  position: fixed;
}
.class_home {
  width: 22%;
  padding: 2px;
  margin: 20px;
  color: black;
  background: rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: 0 rgb(37, 37, 37);
  -moz-box-shadow: 0 6px 12px 0 rgb(37, 37, 37);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
}
.home_pro {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.main-admin {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.main-admin ul {
  display: flex;
}

.main-admin a {
  display: block;
  height: 30px;
  margin: 10px;
  padding: 2px 25px;
  text-decoration: none;
  border-radius: 30px;
  line-height: 20px;
  color: #fff;
}

.layout_header_admin {
  width: 100%;
  top: 0;
}

.layout_header_fix{
  position: fixed;
  width: 100%;
  position: absolute;
  top: 0;
}

.admin_content{
  margin-top: 180px;
}

.layout_header_main_admin {
  display: flex;
  height: 30px;
  background-image: linear-gradient(#302719, black);
  font-weight: bold;
  min-height: 30px;
  align-items: center;
}

.layout_header_main_admin ul {
  margin-bottom: 0;
}

.layout_header_main_admin a {
  margin: 0 40px;
  color: white;
}

.layout_header_main_admin a:hover {
  text-decoration: none;
  color: #fdcb6e;
  transition: 0layout_15s;
}

.layout_header_menu_admin {
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}
.display {
  display: flex;
}

.btn_xn {
  width: 86px;
}

.white{
  color: white;
}