.booking_main{
    color: white;
    font-size: 18px;
}

.booking_main input{
    width: 80%;
    margin-top: 20px;
}

.booking_info{
    display: flex;
}

.info_left{
    width:40%;
   margin: 0 auto;
}

.infor_title{
    color: #d18a06;
}

.booking_table{
    margin: 30px auto;
}

.booking_table img{
    height: 50px;
}

.booking_main button{
    padding: 10px 50px;
    margin: 0 20px;
}
.booking_cancel{
    padding: 5px 20px;
    background-color: #d18a06;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
.booking_ok{
    padding: 5px 20px;
    background-color: #d18a06;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
.infoe{
   
   margin-left: 20px;
   border-radius: 25px;
   height: 2rem;
   font-size: 25px;
}
.infor_label{
    width: 50px;
}