.cart_content_table {
    background-color: rgb(59, 50, 50);
    color: white;
    margin: 40px 40px 5px 40px;
}

.cart_title {
    display: flex;
    font-size: 25px;
    padding: 10px 0;
    background-color: rgb(17, 0, 255);
}

.cart_title_item1 {
    margin-left: 50px;
    width: 525px;
    text-align: start;
}

.cart_title_item2 {
    width: 135px;
    text-align: start;
}

.cart_main {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cart_main_item1 {
    display: flex;
    align-items: center;
}

.cart_main_item_check {
    transform: scale(1.cart_5);
    width: 30px;
    padding-left: 10px;
}

.cart_main_item_img {
    width: 120px;
}

.cart_main_item_img img {
    height: 50px;
}

.cart_main_item_name {
    font-size: 18px;
}

.cart_main_item2 {
    display: flex;
    align-items: center;
}

.cart_main_item_quantity {
    display: flex;
    align-items: baseline;
}

.cart_main_item_quantity_btn {
    height: 30px;
    width: 30px;
    font-weight: bold;
    border: 1px solid black;
}

.cart_main_item_quantity_btn path {
    color: black;
}

.cart_main_item_quantity_value {
    height: 30px;
    width: 40px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}

.cart_main_item_price {
    width: 150px;
    text-align: end;
    padding-right: 20px;
}

.cart_main_item_btn {
    background-color: red;
    padding: 2px 10px;
    margin-right: 10px;
}

.cart_btn {
    display: block;
    text-align: end;
    margin: 0 40px;
}

.cart_cart {
    padding: 10px 40px;
    font-weight: bold;
    background-color: chocolate;
}

.cart_oke {
    padding: 10px 40px;
    font-weight: bold;
    background-color: greenyellow;
}