.index_content_advan {
    height: 400px;
    display: flex;
}

.index_content_advan_img1 {
    height: 100%;
    width: 25%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index_content_advan_img3 {
    height: 100%;
    width: 25%;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index_content_advan_img1 img,
.index_content_advan_img3 img {
    min-height: 100%;
    min-width: 100%;
}

.index_content_advan_img2 {
    width: 50%;
    height: 100%;
}

.index_content_advan_img2_1,
.index_content_advan_img2_2 {
    height: 49.375%;
    display: flex;
}

.index_content_advan_img2_1 {
    margin-bottom: 5px;
}

.index_content_advan_img2_1_1 {
    width: 65%;
    height: 100%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index_content_advan_img2_1_2 {
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index_content_advan_img2_2_1 {
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index_content_advan_img2_2_2 {
    margin-left: 5px;
    width: 65%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.index_content_info {
    width: 35%;
    float: left;
    padding: 15px;
}

.index_content_info_title,
.index_content_menu_title {
    display: flex;
    align-items: flex-end;
    color: burlywood;
}

.index_content_info_title img,
.index_content_menu_title img {
    height: 50px;
}

.index_content_info_title h4,
.index_content_menu_title h4 {
    font-weight: bold;
}

.index_content_info_main {
    text-align: left;
    margin-top: 10px;
    text-align: justify;
    color: white;
}

.index_content_menu {
    width: 65%;
    float: left;
    padding: 15px;
}

.index_nav-link {
    color: white;
    padding: .2rem 2rem;
}

.index_nav-link:hover {
    color: white;
}

.tab-pane {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.index_tab-pane_row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}

.index_tab-pane_row div {
    display: flex;
    align-items: center;
}

.index_tab-pane_row img {
    height: 50px;
}

.index_tab-pane_row p {
    margin-bottom: 0px;
}

.index_tab-pane_name {
    margin-left: 10px;
}

.index_tab-pane_btn {

    padding: 5px 15px;
    background-color: #d18a06;
    margin: 10px;
    color: white;
    border-radius: 20px;
}


.a {
    display: flex; /* the default for span */
   margin: 10px;
    padding: 5px;
  }
  .modal_detail{
      margin: 10px;
    padding: 5px;
  }
  .modal_detail_center{
      text-align: center;
  }
  .example_detail {
      width: 800px;
      height: 250px;
      overflow-y: scroll; 
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .example_detail::-webkit-scrollbar {
        display: none;
    }

    .modal-content-detail {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color:rgb(243, 239, 233);
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }