* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}

html {
    background-color: white;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.body {
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://media.metrip.vn/images/cidre-3-2048-1459002815059-234-0-1136-2048-crop-1459002866249.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.content {
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #2c3e50;
    padding: 50px;
}