.order_content_table {
    background-color: rgb(59, 50, 50);
    color: white;
    margin: 40px 40px 5px 40px;
}

.order_title {
    display: flex;
    font-size: 25px;
    padding: 10px 0;
    background-color: rgb(17, 0, 255);
}

.order_title_item1 {
    margin-left: 50px;
    width: 575px;
    text-align: start;
}

.order_title_item2 {
    width: 135px;
    text-align: start;
}

.order_main {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.order_main_item1 {
    display: flex;
    align-items: center;
}

.order_main_item_img {
    width: 120px;
    margin-left: 30px;
}

.order_main_item_img img {
    height: 50px;
}

.order_main_item_name {
    font-size: 18px;
}

.order_main_item2 {
    display: flex;
    align-items: center;
}

.order_main_item_quantity {
    display: flex;
    align-items: baseline;
}

.order_main_item_price {
    width: 210px;
    text-align: end;
    padding-right: 30px;
}

.order_total_title {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 50px;
}

.order_total_price {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 30px;
}

.order_btn {
    display: block;
    text-align: end;
    margin: 0px 40px;
}

.order_cart {
    padding: 10px 40px;
    font-weight: bold;
    background-color: chocolate;
}

.order_oke {
    padding: 10px 40px;
    font-weight: bold;
    background-color: greenyellow;
}